//.bg-nbd{
//  background-image: url("../../assets/images/home/blue-bg-bank.jpg");
//  background-size: cover;
//}

.p-6{
  padding: 12.1rem 0;
}

.lang{

  button{
    font-size: 3rem;
    width: 16rem;
  }
}
