<div class="bg-nbd receipt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-white text-center mb-5">{{'_WouldPrintReceipt' | translate}}</h2>
        <div class="d-flex justify-content-center ">
          <div class="bg-primary mx-3 p-5 text-center text-white" routerLink="/">
            <img src="assets/images/services/paper.png" class="w-100" alt="">
            <h6 class="mt-3">{{'_PrintReceipt' | translate}}</h6>
          </div>
          <div class="bg-primary mx-3 p-5 text-center text-white" routerLink="/">
            <img src="assets/images/services/leaf.png" class="w-100" alt="">
            <h6 class="mt-3">{{'_DontPrint' | translate}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
