@font-face {
  font-family: 'Sora Regular';
  src: url('./assets/fonts/Sora-Regular.ttf');
  src: url('./assets/fonts/Sora-Regular.ttf') format('woff')
}

@font-face {
  font-family: 'Sora Bold';
  src: url('./assets/fonts/Sora-Bold.ttf');
  src: url('./assets/fonts/Sora-Bold.ttf') format('woff')
}

