<div class="bg-nbd home" style="cursor: pointer" routerLink="/languages" (click)="getUserInfo()">
  <div class="container ">
    <div class="row py-5 px-3" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
      <div class="col-md-6 m-auto welcome">
        <h1 class="text-white text-center">Welcome</h1>
        <h1 class="text-white text-center">أهلاً بك</h1>
        <img src="assets/images/logo/logo.png" class="w-100" alt="">
      </div>
      <div class="col-md-6 mx-auto insert-cart my-2">
        <h2 class="text-white text-center" >Please insert your card</h2>
        <h2 class="text-white text-center" >الرجاء ادخال بطاقتك البنكية</h2>
        <img src="assets/images/home/insert-card.gif" class="w-100" alt="">
      </div>
    </div>
  </div>
</div>
